<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading"><strong>Latest Mars News</strong></h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <h3><strong>{{ info22[0].news_title }}</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ info22[0].news_p }}</p>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-8">
        <div class="row">
          <h3><strong>Featured Mars Image</strong></h3>
        </div>
        <div class="row">
          <img src="{{info22[0].featured_image_url}}" width="500" height="300">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <h3><strong>Current Weather on Mars</strong></h3>
        </div>
        <div class="row">
          <p>
            {{info22[0].mars_weather}}
          </p>
        </div>
        <div class="row">
          <h3>
            <strong>Mars Facts</strong>
          </h3>
        </div>
        <div class="row">
          <div class="hello">
            <table border="1" class="dataframe"> <thead> <tr style="text-align: right;">  {{info22[0].facts | safe}} </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <h2>
        <strong>Mars Hemispheres</strong>
      </h2>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6">
          <p> <img src="{{info22[0].hemisphere_image_urls[0]['img_url']}}" width="400" height="400" alt="Cerberus Hemisphere"></p>
        </div>
        <div class="col-md-6">
          <p> <img src={{info22[0].hemisphere_image_urls[1]['img_url']}} width="400" height="400" alt="Schiaparelli Hemisphere"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3><strong>Cerberus Hemisphere</strong></h3>
        </div>
        <div class="col-md-6">
          <h3><strong>Schiaparelli Hemisphere</strong></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p> <img src={{info22[0].hemisphere_image_urls[2]['img_url']}} width="400" height="400" alt="Syrtis Major Hemisphere"></p>
        </div>
        <div class="col-md-6">
          <p> <img src={{info22[0].hemisphere_image_urls[3]['img_url']}} width="400" height="400" alt="Valles Marineris Hemisphere"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3><strong>Syrtis Major Hemisphere</strong></h3>
        </div>
        <div class="col-md-6">
          <h3><strong>Valles Marineris Hemisphere</strong></h3>
        </div>
      </div>
    </div>

  </div>
</body>

</html>